@import url("reset.css");
@import url("fonts.css");

* {
  box-sizing: border-box;
}

body{
  text-align: center;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

h2{
  font-size: 46px;
  font-weight: 800;
  letter-spacing: 3px;
  position: relative;
  padding-bottom: 40px;
  text-transform: uppercase;
}

h2::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  width: 80px;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

h3{
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

button{
  width: 325px;
  height: 70px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  transition: background-color 0.4s;
  cursor: pointer;
}

.link-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px auto 0;
  width: 325px;
  height: 70px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  transition: background-color 0.4s;
  cursor: pointer;
}

.link-contact a{
  
}

a{
  text-decoration: none;
}

.orange-button{
  background-color: #d9884b;
  border-bottom: 4px solid #996034;
}

.orange-button:hover{
  opacity: 0.9;
  border-bottom: 4px solid #996034;
}

.orange-button:active{
  border-bottom: 3px solid #865634;
  transform: translateY(2px);
}

.green-button{
  background-color: #17c2a4;
  border-bottom: 4px solid #13977f;
  margin-top: 75px;
}

.green-button:hover{
  opacity: 0.9;
  border-bottom: 4px solid #13977f;
}

.green-button:active{
  border-bottom: 3px solid #107764;
  transform: translateY(2px);
}

.blue-button{
  background-color: #30bae7;
  border-bottom: 4px solid #0a94c1;
  margin-top: 55px;
  margin-bottom: 30px;
}

.blue-button:hover{
  opacity: 0.9;
  border-bottom: 4px solid #0a94c1;
}

.blue-button:active{
  border-bottom: 3px solid #097aa0;
  transform: translateY(2px);
}

.text{
  font-family: 'Titillium Web Regular', sans-serif;
  font-weight: 100;
  font-size: 22px;
  opacity: 0.9;
  line-height: 1.5
}

.container {
  margin: auto;
  padding: 0 15px;
  max-width: 1280px;
}

.header{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 50px 0 10px;
}

.header .container{
  display: flex;
  justify-content: space-between;
}

.header-logo{
}

.header-navigation{
}

.header-navigation-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin-left: 0;
}

.header-navigation-list-item a{
  display: block;
  color: white;
  text-align: center;
  padding: 8px 15px;
  margin-right: 5px;
  border-radius: 10px;
  transition: background-color 0.4s;
  cursor: pointer;
}

.header-navigation-list-item a:hover{
  background-color: #5a457a;
}

.header-navigation-list-item a:active{
  background-color: #322646;
}

.home{
  background-color: #7c609d;
  padding: 250px 0 200px;
}

.home-welcome h1{
  color: #ffffff;
  font-size: 46px;
  font-weight: 800;
}

.services{
  max-width: 100%;
  background-color: #66baa5;
  padding: 100px 0;
}

.services-header h2{
  color: #ffffff;
}

.services-preview{
  color: #ffffff;
}

.services-list{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.services-list-item{
  width: 25%;
  text-align: center;
}

.services-list-item-img{
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.services-list-item-img img{
  height: 150px;
  max-width: 100%;
}

.services-list-item-title{
  color: #ffffff;
  margin: 25px 5px;
}

.services-list-item-describe{
  color: #ffffff;
  margin: auto 35px;
  font-size: 16px;
}

.team{
  max-width: 100%;
  background-color: #eaf1f8;
  padding: 100px 0;
}

.team-header h2{
  color: #3b4861;
}

.team-preview{
  color: #3b4861;
}

.team-list{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-top: 25px;
}

.team-list-item{
  width: 25%;
  text-align: center;
  color: #3b4861;
  padding: 0 15px;
}

.team-list-item-photo{
  margin: 30px 0;
}

.team-list-item-photo img{
  width: 70%;
  border-radius: 50%;
}

.team-list-item-name{

}

.team-list-item-position{
  margin: 10px 0;
  color: #30bae7;
}

.team-list-item-describe{
  margin: 20px 0;
  font-size: 16px;
}

.team-list-item-social{
  display: flex;
  justify-content: center;
}

.sprite {
  background-image: url('../images/social-sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite + .sprite{
  margin-left: 10px;
}

.sprite-email-logo {
  width: 32px;
  height: 32px;
  background-position: -10px -10px;
}

.sprite-facebook-logo {
  width: 32px;
  height: 32px;
  background-position: -62px -10px;
}

.sprite-linkelin-logo {
  width: 32px;
  height: 32px;
  background-position: -114px -10px;
}

.sprite-twitter-logo {
  width: 32px;
  height: 32px;
  background-position: -166px -10px;
}

.skill{
  max-width: 100%;
  background-color: #ffffff;
  padding: 100px 0;
}

.skill-header h2{
  color: #3b4861;
}

.skill-preview{
  color: #3b4861;
}

.skill-list{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-top: 25px;
}

.skill-list-item{
  width: 25%;
  text-align: center;
  color: #3b4861;
  padding: 0 15px;
  
}

.skill-list-item-diagram{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.skill-list-item-diagram img{
  width: 70%;
}

.skill-list-item-name{
  padding-top: 30px;
}

.portfolio{
  max-width: 100%;
  background-color: #ffdd99;
  padding: 100px 0;
}

.portfolio-header h2{
  color: #393939;
}

.portfolio-preview{
  color: #393939;
}

.portfolio-buttons-bar{
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.portfolio-buttons-bar-item{
}

.button-of-buttons_bar{
  margin: 5px 7px;
  font-size: 20px;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  width: 100px;
  height: 50px;
}

.button-of-buttons_bar:hover{
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.9);
}

.portfolio-list{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 50px;
  width: 100%;
  padding-top: 45px;
}

.portfolio-list-item{
  
}

.portfolio-list-item-describe{
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
}

.feedback{
  max-width: 100%;
  background-color: #d74680;
  padding: 100px 0;
}

.feedback-header h2{
  color: #ffffff;
}

.feedback-preview{
  color: #ffffff;
}

.contact{
  max-width: 100%;
  background-color: #3c5499;
  padding: 100px 0;
}

.contact-header h2{
  color: #ffffff;
}

.contact-preview{
  color: #ffffff;
}

.contact-form{
  padding-top: 70px;
  width: 950px;
  margin: auto;
}

form{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 30px 50px;
  justify-content: center;
}

.form-style{
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}

input{
  width: 450px;
  height: 50px;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 16px;
}

input::placeholder{
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea{
  width: 100%;
  padding: 15px 20px;
  border-radius: 4px;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
}

textarea::placeholder{
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:focus::placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
}

.field{
  border: none;
  background-color: #253e71;
}

.footer{
  width: 100%;
  background-color: #344b8e;
  padding: 30px 20px;
}

.footer-list{
  display: flex;
  justify-content: space-between;
}

.footer-list-item a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
}

.footer-list-item a:hover{
  color: rgba(48, 186, 231, 1);
}